.icon {
	color: #2C7CC3;
}

.section {
	opacity: .85;
}

.section:hover {
	opacity: 1.0;
	color: #f4511e;
}

.body {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
  font-weight: 'lighter'
}

#containerTotal {
	margin: 10px;
}

.selected{
	color:#34b3a0;
}